.App {
  font-family: sans-serif;
  text-align: center;
  color: #f1f2f6;
}

body {
  font-size: 1.2rem;
  font-family: fantasy;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
          to right,
          #2c3e50,
          #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2c3e50, #bdc3c7);
  text-align: center;
}

button {
  font-family: fantasy;
  font-size: 18px;

}

.home-page {
  text-align: center;
  font-family: fantasy;
  font-size: 2rem;
}

.home-img {
  margin: 20px;
  width: 300px;
  height: auto;
}

.result {
  margin-top: 20px;
  font-size: 2rem;
}

.options {
  cursor: pointer;
  border: 2px solid black;
  padding: 10px;
}

.selected {
  background: linear-gradient(to right, #74ebd5, #acb6e5) !important;
}

ul {
  list-style-type: none;
}
