.page {
    text-align: center;
}

.header {
    /*background-color: #282c34;*/
    background-color: #F5F5F5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.img {
    margin: 40px;
    width: 430px;
    height: 133px;
}

.DottedBox {
    margin: 40px;
    border: 5px dotted pink;

}

.DottedBox_content {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: black;
}
