.home-page {
    text-align: center;
}

.home-header {
    /*background-color: #282c34;*/
    background-color: #F5F5F5;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.home-img {
    margin: 40px;
    width: 430px;
    height: 133px;
}


.home-button {
    margin: 40px;
}


